.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 100px;
    gap: 10px;
    background-color: aquamarine;
    padding: 20px;
}
.item{
    background-color: pink;
    text-align: center;
}