body{
    background-color: blue;
}
@media(min-width:600px){
    body{
        background-color: red;
    }
}

.container{
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
background-color: pink;
width: 30%;
height: 90%;
margin: 10px;
color: white;
}
 